{% extends "layout.html" %}

{% block title %}{{ header_title }} - {% endblock %}

{% block cumstom_styles_for_this_page %}
  <!-- Custom styles for this page -->
  <link href="static/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
{% endblock %}

        {% block content %}
          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800">{{ content_title }}</h1>
          <p class="mb-4">株価と法定通貨のバックテストは0時から3時に更新。暗号通貨は9時から9時30分に更新。</p>

          <!-- Content Row -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary"></h6>
            </div>
            <div class="card-body">
              <form method="POST" action="/backtest_summary">
                <div class="form-group">
                  <label class="control-label">バックテスト登録日</label>
                  <input class="form-control" type="text" id="start_date" name="start_date" value="{{ regist_date }}">
                </div>
                <!--
                <div class="form-group">
                  <label class="control-label">検索終了日</label>
                  <input class="form-control" type="text" id="end_date" name="end_date" value="{{ end_date }}">
                </div>
                -->
                <button class="btn btn-primary btn-icon-split" type="submit">
                  <span class="icon text-white-50">
                    <i class="fas fa-search"></i>
                  </span>
                  <span class="text">検索</span>
                </button>
              </form>
            </div>
          </div>

          <!-- DataTales -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              {% if rv %}
              <h6 class="m-0 font-weight-bold text-primary">バックテスト登録日 : {{ regist_date }}</h6>
              {% endif %}
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>シンボル</th>
                      <th>ストラテジ</th>
                      <th>パラメータ</th>
                      <th>最終営業日</th>
                      <th>全期間騰落率(複利)</th>
                      <th>利益率3か月</th>
                      <th>利益率3か月long</th>
                      <th>利益率3か月short</th>
                      <th>利益率1年</th>
                      <th>利益率1年long</th>
                      <th>利益率1年short</th>
                      <th>利益率3年</th>
                      <th>利益率3年long</th>
                      <th>利益率3年short</th>
                      <th>利益率15年</th>
                      <th>利益率15年long</th>
                      <th>利益率15年short</th>
                      <th>全期間利益率</th>
                      <th>全期間利益率long</th>
                      <th>全期間利益率short</th>
                      <th>勝率</th>
                      <th>取引期間</th>
                      <th>取引数</th>
                      <th>取引数long</th>
                      <th>取引数short</th>
                      <th>ペイオフレシオ</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>シンボル</th>
                      <th>ストラテジ</th>
                      <th>パラメータ</th>
                      <th>最終営業日</th>
                      <th>全期間騰落率(複利)</th>
                      <th>利益率3か月</th>
                      <th>利益率3か月long</th>
                      <th>利益率3か月short</th>
                      <th>利益率1年</th>
                      <th>利益率1年long</th>
                      <th>利益率1年short</th>
                      <th>利益率3年</th>
                      <th>利益率3年long</th>
                      <th>利益率3年short</th>
                      <th>利益率15年</th>
                      <th>利益率15年long</th>
                      <th>利益率15年short</th>
                      <th>全期間利益率</th>
                      <th>全期間利益率long</th>
                      <th>全期間利益率short</th>
                      <th>勝率</th>
                      <th>取引期間</th>
                      <th>取引数</th>
                      <th>取引数long</th>
                      <th>取引数short</th>
                      <th>ペイオフレシオ</th>
                    </tr>
                  </tfoot>
                  <tbody>
                  {% for r in rv %}
                    <tr>
                      <td>
                        {{ r[0] }}
                        {% if '.T' in r[0] %}<br />
                        <a href="https://stocks.finance.yahoo.co.jp/stocks/detail/?code={{ r[0] }}" target="_blank"><i class="fas fa-fw fa-info"></i></a>
                        {% elif ('XBTUSD' in r[0] or 'ETHUSD' in r[0]) %}
                        <a href="https://www.bitmex.com/app/trade/{{ r[0] }}" target="_blank"><i class="fas fa-fw fa-info"></i></a>
                        {% elif 'GBPJPY' in r[0] %}
                        <a href="https://fx.minkabu.jp/pair/GBPJPY/{{ r[0] }}" target="_blank"><i class="fas fa-fw fa-info"></i></a>
                        {% endif %}
                        <a href="/backtest_history?symbol={{ r[0] }}" target="_blank"><i class="fas fa-fw fa-play-circle"></i></a>
                        <a href="/ohlcv_daily?symbol={{ r[0] }}" target="_blank"><i class="fas fa-fw fa-history"></i></a>
                      </td>
                      <td>{{ r[1] }}</td>
                      <td>{{ r[2] }}</td>
                      <td>{{ r[3] }}</td>
                      <td>{{ r[4] }}</td>
                      <td>{{ r[5] }}</td>
                      <td>{{ r[6] }}</td>
                      <td>{{ r[7] }}</td>
                      <td>{{ r[8] }}</td>
                      <td>{{ r[9] }}</td>
                      <td>{{ r[10] }}</td>
                      <td>{{ r[11] }}</td>
                      <td>{{ r[12] }}</td>
                      <td>{{ r[13] }}</td>
                      <td>{{ r[14] }}</td>
                      <td>{{ r[15] }}</td>
                      <td>{{ r[16] }}</td>
                      <td>{{ r[17] }}</td>
                      <td>{{ r[18] }}</td>
                      <td>{{ r[19] }}</td>
                      <td>{{ r[20] }}</td>
                      <td>{{ r[21] }}</td>
                      <td>{{ r[22] }}</td>
                      <td>{{ r[23] }}</td>
                      <td>{{ r[24] }}</td>
                      <td>{{ r[25] }}</td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">DEBUG</h6>
            </div>
            <div class="card-body">
              <p>{{ query }}</p>
            </div>
          </div>

        {% endblock %}

  {% block page_level_plugins %}
  <!-- Page level plugins -->
  <script src="static/vendor/datatables/jquery.dataTables.min.js"></script>
  <script src="static/vendor/datatables/dataTables.bootstrap4.min.js"></script>
  {% endblock %}
  {% block page_level_custom_scripts %}
  <!-- Page level custom scripts -->
  <script src="static/js/pages/datatables-common.js"></script>
  {% endblock %}
