{% extends "layout.html" %}

{% block title %}{{ header_title }} - {% endblock %}

{% block cumstom_styles_for_this_page %}
  <!-- Custom styles for this page -->
  <link href="static/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
{% endblock %}

{% block cumstom_header_js_for_this_page %}
{% if rv %}
<script>
    window.onload = function () {
    
    var chart = new CanvasJS.Chart("chartContainer", {
      animationEnabled: true,
      theme: "light2", // "light1", "light2", "dark1", "dark2"
      exportEnabled: true,
      subtitles: [{
        text: "{{ rv[0][0] }} {{ rv[0][1] }}"
      }],
      axisX: {
        valueFormatString: "YY-MM-DD"
      },
      axisY: {
        includeZero:false, 
        prefix: "$",
        title: "Price"
      },
      axisY2: {
        prefix: "",
        title: "ProfitRate",
      },
      toolTip: {
        shared: true
      },
      legend: {
        reversed: true,
        cursor: "pointer",
        itemclick: toggleDataSeries
      },     
      data: [
      {
        type: "column",
        showInLegend: true,
        name: "ProfitRate",
        axisYType: "secondary",
        yValueFormatString: "#0.00%",
        xValueFormatString: "YY-MM-DD",
        dataPoints: [
        {% for  r in rv %}
          { x: new Date({{ r[3][0:4] }}, {{ r[3][5:7] }}-1, {{ r[3][8:10] }}), y: {{ r[33] }}/100 },
        {% endfor %}
        ]
      },

      {
        type: "line",
        showInLegend: true,
        visible: false,
        name: "upper sigma2",
        markerSize: 0,
        yValueFormatString: "$#,##0.00",
        xValueFormatString: "YY-MM-DD",
        dataPoints: [
        {% for  r in rv %}
          { x: new Date({{ r[3][0:4] }}, {{ r[3][5:7] }}-1, {{ r[3][8:10] }}), y: {{ r[12] }} },
        {% endfor %}
        ]
      },
      {
        type: "line",
        showInLegend: true,
        visible: false,
        name: "lower sigma2",
        markerSize: 0,
        yValueFormatString: "$#,##0.00",
        xValueFormatString: "YY-MM-DD",
        dataPoints: [
        {% for  r in rv %}
          { x: new Date({{ r[3][0:4] }}, {{ r[3][5:7] }}-1, {{ r[3][8:10] }}), y: {{ r[13] }} },
        {% endfor %}
        ]
      },

      {
        type: "line",
        showInLegend: true,
        name: "upper sigma1",
        markerSize: 0,
        yValueFormatString: "$#,##0.00",
        xValueFormatString: "YY-MM-DD",
        dataPoints: [
        {% for  r in rv %}
          { x: new Date({{ r[3][0:4] }}, {{ r[3][5:7] }}-1, {{ r[3][8:10] }}), y: {{ r[10] }} },
        {% endfor %}
        ]
      },
      {
        type: "line",
        showInLegend: true,
        name: "lower sigma1",
        markerSize: 0,
        yValueFormatString: "$#,##0.00",
        xValueFormatString: "YY-MM-DD",
        dataPoints: [
        {% for  r in rv %}
          { x: new Date({{ r[3][0:4] }}, {{ r[3][5:7] }}-1, {{ r[3][8:10] }}), y: {{ r[11] }} },
        {% endfor %}
        ]
      },

      {
        type: "line",
        showInLegend: true,
        name: "移動平均",
        markerSize: 0,
        yValueFormatString: "$#,##0.00",
        xValueFormatString: "YY-MM-DD",
        dataPoints: [
        {% for  r in rv %}
          { x: new Date({{ r[3][0:4] }}, {{ r[3][5:7] }}-1, {{ r[3][8:10] }}), y: {{ r[9] }} },
        {% endfor %}
        ]
      },


      {
        type: "candlestick",
        showInLegend: true,
        name: "Stock Price",
        yValueFormatString: "$#,##0.00",
        xValueFormatString: "YY-MM-DD",
        dataPoints: [   // Y: [Open, High ,Low, Close]
        {% for  r in rv %}
          { x: new Date({{ r[3][0:4] }}, {{ r[3][5:7] }}-1, {{ r[3][8:10] }}), y: [{{ r[4] }}, {{ r[5] }}, {{ r[6] }}, {{ r[7] }}] },
        {% endfor %}
        ]
      },

      {
        type: "scatter",
        showInLegend: true,
        name: "Close Order",
        yValueFormatString: "$#,##0.00",
        xValueFormatString: "YY-MM-DD",
        dataPoints: [
        {% for  r in rv %}
        {% if (r[19] == 5 or r[19] == 6 or r[19] == 7 or r[19] == 8) and r[21] != 0 and r[24] == '3' %}
          { x: new Date({{ r[3][0:4] }}, {{ r[3][5:7] }}-1, {{ r[3][8:10] }}), y: {{ r[26] }} },
        {% endif %}
        {% endfor %}
        ]
      },
      {
        type: "scatter",
        showInLegend: true,
        name: "Open Order",
        yValueFormatString: "$#,##0.00",
        xValueFormatString: "YY-MM-DD",
        dataPoints: [
        {% for  r in rv %}
        {% if (r[19] == 1 or r[19] == 2 or r[19] == 3 or r[19] == 4) and r[21] != 0 and r[24] == '3' %}
          { x: new Date({{ r[3][0:4] }}, {{ r[3][5:7] }}-1, {{ r[3][8:10] }}), y: {{ r[26] }} },
        {% endif %}
        {% endfor %}
        ]
      },

    ]
    });
    chart.render();

    //fund balance
    var fund_chart = new CanvasJS.Chart("fundchartContainer", {
  	  animationEnabled: true,  
      theme: "light1", // "light1", "light2", "dark1", "dark2"
      exportEnabled: true,
      subtitles: [{
		    text: "資金残高"
      }],
      axisX: {
        valueFormatString: "YY-MM-DD"
      },
	    axisY: {
		    title: "資金",
        valueFormatString: "#0,,.",
		    suffix: "mn",
		    prefix: "$"
      },
      axisY2: {
        prefix: "",
        title: "損益",
        valueFormatString: "#0,,.",
		    suffix: "mn",
		    prefix: "$"
      },
      toolTip: {
        shared: true
      },
      legend: {
        reversed: true,
        cursor: "pointer",
        itemclick: toggleDataSeries
      },     
	    data: [
      {
        type: "column",
        showInLegend: true,
        name: "損益",
        axisYType: "secondary",
		    yValueFormatString: "$#,##0",
        xValueFormatString: "YY-MM-DD",
        dataPoints: [
        {% for r in rv %}
          { x: new Date({{ r[3][0:4] }}, {{ r[3][5:7] }}-1, {{ r[3][8:10] }}), y: {{ r[32] }} },
        {% endfor %}
        ]
      },
      {
		    type: "splineArea",
        showInLegend: true,
        visible: false,
        name: "資金+建玉(含み損益)",
        color: "rgba(00,80,80,.7)",
        xValueFormatString: "YY-MM-DD",
		    yValueFormatString: "$#,##0",
        dataPoints: [
        {% for r in rv %}
          { x: new Date({{ r[3][0:4] }}, {{ r[3][5:7] }}-1, {{ r[3][8:10] }}), y: {{ r[31] }} },
        {% endfor %}
		    ]
	    },
      {
		    type: "splineArea",
        showInLegend: true,
        name: "資金+建玉(取得価格)",
        color: "rgba(54,158,173,.7)",
		    markerSize: 5,
        xValueFormatString: "YY-MM-DD",
		    yValueFormatString: "$#,##0",
        dataPoints: [
        {% for r in rv %}
          { x: new Date({{ r[3][0:4] }}, {{ r[3][5:7] }}-1, {{ r[3][8:10] }}), y: {{ r[28] + r[29] * r[30] }} },
        {% endfor %}
		    ]
	    }
      ]
	    });
      fund_chart.render();

      function toggleDataSeries(e) {
        if (typeof (e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
          e.dataSeries.visible = false;
        } else {
          e.dataSeries.visible = true;
        }
        e.chart.render();
      }
    }
    </script>
{% endif %}
{% endblock %}

        {% block content %}
          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800">{{ content_title }}</h1>
          <p class="mb-4">バックテストの日毎の詳細を確認できます。バックテストは0時から3時に更新。暗号通貨は9時から9時30分に更新。</p>

          <!-- Content Row -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">開始日が空欄の場合は、３か月前からのデータを検索します。</h6>
            </div>
            <div class="card-body">
              <form method="POST" action="/backtest_history">
                <div class="form-group">
                  <label class="control-label">シンボル</label>
                  <input class="form-control" type="text" id="symbol" name="symbol" value="{{ symbol }}">
                </div>
                <div class="form-group">
                  <label class="control-label">ストラテジ</label>
                  <input class="form-control" type="text" id="strategy_id" name="strategy_id" value="{{ strategy_id }}">
                </div>
                <div class="form-group">
                  <label class="control-label">ストラテジのパラメータ</label>
                  <input class="form-control" type="text" id="strategy_option" name="strategy_option" value="{{ strategy_option }}">
                </div>
                <div class="form-group">
                  <label class="control-label">検索開始日</label>
                  <input class="form-control" type="text" id="start_date" name="start_date" value="{{ start_date }}">
                </div>
                <div class="form-group">
                  <label class="control-label">検索終了日</label>
                  <input class="form-control" type="text" id="end_date" name="end_date" value="{{ end_date }}">
                </div>

                <button class="btn btn-primary btn-icon-split" type="submit">
                  <span class="icon text-white-50">
                    <i class="fas fa-search"></i>
                  </span>
                  <span class="text">検索</span>
                </button>
              </form>
            </div>
          </div>

          {% if rv %}
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">{{ rv[0][0] }} {{ rv[0][1] }} {{ rv[0][2] }}: {{ start_date }} から {{ end_date }}</h6>
            </div>
            <div class="card-body">
              <div id="chartContainer" style="height: 370px; width: 100%; margin: 0px auto;"></div>
            </div>
            <div class="card-body">
              <div id="fundchartContainer" style="height: 370px; width: 100%; margin: 0px auto;"></div>
            </div>
          </div>
          {% endif %}

          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              {% if rv %}
              <h6 class="m-0 font-weight-bold text-primary">{{ rv[0][0] }} {{ rv[0][1] }} {{rv[0][2] }}: {{ start_date }} から {{ end_date }}</h6>
              {% endif %}
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>business_date</th>
                      <th>open</th>
                      <th>high</th>
                      <th>low</th>
                      <th>close</th>
                      <th>volume</th>
                      <th>sma</th>
                      <th>upper_sigma1</th>
                      <th>lower_sigma1</th>
                      <th>upper_sigma2</th>
                      <th>lower_sigma2</th>
                      <th>order_create_date</th>
                      <th>order_type</th>
                      <th>order_vol</th>
                      <th>order_price</th>
                      <th>call_order_date</th>
                      <th>call_order_type</th>
                      <th>call_order_vol</th>
                      <th>call_order_price</th>
                      <th>execution_order_date</th>
                      <th>execution_order_type</th>
                      <th>execution_order_status</th>
                      <th>execution_order_vol</th>
                      <th>execution_order_price</th>
                      <th>position</th>
                      <th>cash</th>
                      <th>pos_vol</th>
                      <th>pos_price</th>
                      <th>total_value</th>
                      <th>profit_value</th>
                      <th>profit_rate</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>business_date</th>
                      <th>open </th>
                      <th>high </th>
                      <th>low </th>
                      <th>close</th>
                      <th>volume</th>
                      <th>sma </th>
                      <th>upper_sigma1</th>
                      <th>lower_sigma1</th>
                      <th>upper_sigma2</th>
                      <th>lower_sigma2</th>
                      <th>order_create_date</th>
                      <th>order_type</th>
                      <th>order_vol</th>
                      <th>order_price</th>
                      <th>call_order_date</th>
                      <th>call_order_type</th>
                      <th>call_order_vol</th>
                      <th>call_order_price</th>
                      <th>execution_order_date</th>
                      <th>execution_order_type</th>
                      <th>execution_order_status</th>
                      <th>execution_order_vol</th>
                      <th>execution_order_price</th>
                      <th>position</th>
                      <th>cash</th>
                      <th>pos_vol</th>
                      <th>pos_price</th>
                      <th>total_value</th>
                      <th>profit_value</th>
                      <th>profit_rate</th>
                    </tr>
                  </tfoot>
                  <tbody>
                  {% for r in rv %}
                    <tr>
                      <td>{{ r[3] }}</td>
                      <td>{{ r[4] }}</td>
                      <td>{{ r[5] }}</td>
                      <td>{{ r[6] }}</td>
                      <td>{{ r[7] }}</td>
                      <td>{{ r[8] }}</td>
                      <td>{{ r[9] }}</td>
                      <td>{{ r[10] }}</td>
                      <td>{{ r[11] }}</td>
                      <td>{{ r[12] }}</td>
                      <td>{{ r[13] }}</td>
                      <td>{{ r[14] }}</td>
                      <td>{{ r[15] }}</td>
                      <td>{{ r[16] }}</td>
                      <td>{{ r[17] }}</td>
                      <td>{{ r[18] }}</td>
                      <td>{{ r[19] }}</td>
                      <td>{{ r[20] }}</td>
                      <td>{{ r[21] }}</td>
                      <td>{{ r[22] }}</td>
                      <td>{{ r[23] }}</td>
                      <td>{{ r[24] }}</td>
                      <td>{{ r[25] }}</td>
                      <td>{{ r[26] }}</td>
                      <td>{{ r[27] }}</td>
                      <td>{{ r[28] }}</td>
                      <td>{{ r[29] }}</td>
                      <td>{{ r[30] }}</td>
                      <td>{{ r[31] }}</td>
                      <td>{{ r[32] }}</td>
                      <td>{{ r[33] }}</td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">DEBUG</h6>
            </div>
            <div class="card-body">
              <p>{{ query }} </p>
            </div>
          </div>

        {% endblock %}

  {% block page_level_plugins %}
  <!-- Page level plugins -->
  <script src="static/vendor/datatables/jquery.dataTables.min.js"></script>
  <script src="static/vendor/datatables/dataTables.bootstrap4.min.js"></script>
  <script src="static/vendor/canvasjs/canvasjs.min.js"></script>
  {% endblock %}
  {% block page_level_custom_scripts %}
  <!-- Page level custom scripts -->
  <script src="static/js/pages/datatables-common.js"></script>
  {% endblock %}
