<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>{% block title %}{% endblock %}I'VE GOT THE NUTS</title>

  <!-- Custom fonts for this template-->
  <link href="static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="static/css/sb-admin-2.min.css" rel="stylesheet">

  {% block cumstom_styles_for_this_page %}
  {% endblock %}
  {% block cumstom_header_js_for_this_page %}
  {% endblock %}
</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index">
        <div class="sidebar-brand-icon rotate-n-15">
          <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">I've got the nuts!!</div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item {{ index }}">
        <a class="nav-link" href="/index">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        Invest Advise
      </div>

      <!-- Nav Item - Signal -->
      <li class="nav-item {{ signal }}">
          <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseSignal" aria-expanded="true" aria-controls="collapseUtilities">
            <i class="fas fa-fw fa-signal"></i>
            <span>Signal</span>
          </a>
          <div id="collapseSignal" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
              <a class="collapse-item" href="./open_signal">Open</a>
              <a class="collapse-item" href="./close_signal">Close</a>
            </div>
          </div>
      </li>

      <!-- Nav Item - Position Collapse Menu -->
      <!--
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePosition" aria-expanded="true" aria-controls="collapseUtilities">
          <i class="fas fa-fw fa-folder-open"></i>
          <span>Position</span>
        </a>
        <div id="collapsePosition" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" href="./position_regist">Registration</a>
            <a class="collapse-item" href="./position_list">List</a>
          </div>
        </div>
      </li>
      -->
      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        MACRO
      </div>
      <!-- Nav Item - UPDOWN RATIO -->
      <li class="nav-item {{ updown_ratio }}">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUpdownRatio" aria-expanded="true" aria-controls="collapseUtilities">
          <i class="fas fa-fw fa-play-circle"></i>
          <span>UPDOWN Ratio</span>
        </a>
        <div id="collapseUpdownRatio" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">SYMBOL:</h6>
            <a class="collapse-item" href="https://nikkei225jp.com/data/touraku.php">Nikkei225</a>
            <!--
            <a class="collapse-item" href="./updown_ratio?symbol=TOPIX500">TOPIX500</a>
            <a class="collapse-item" href="./updown_ratio?symbol=Dow30">Dow30</a>
            <a class="collapse-item" href="./updown_ratio?symbol=SP500">SP500</a>
            <a class="collapse-item" href="./updown_ratio?symbol=HANGSENG">Hang Seng</a>
            -->
          </div>
        </div>
      </li>
      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        DATA
      </div>

      <!-- Nav Item - Backtest Result -->
      <li class="nav-item {{ backtest_summary }}">
        <a class="nav-link" href="/backtest_summary">
          <i class="fas fa-fw fa-object-group"></i>
          <span>Backtest Summary</span></a>
      </li>

      <!-- Nav Item - Backtest History Collapse Menu -->
      <li class="nav-item {{ backtest_history }}">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseBacktestHistory" aria-expanded="true" aria-controls="collapseUtilities">
          <i class="fas fa-fw fa-play-circle"></i>
          <span>Backtest History</span>
        </a>
        <div id="collapseBacktestHistory" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">SYMBOL:</h6>
            <a class="collapse-item" href="./backtest_history">Stocks</a>
            <a class="collapse-item" href="./backtest_history?symbol=XBTUSD">XBTUSD</a>
            <a class="collapse-item" href="./backtest_history?symbol=ETHUSD">ETHUSD</a>
            <a class="collapse-item" href="./backtest_history?symbol=GBPJPY">GBPJPY</a>
          </div>
        </div>
      </li>

      <!-- Nav Item - OHLCV Daily -->
      <li class="nav-item {{ ohlcv_daily }}">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseOHLCVDaily" aria-expanded="true" aria-controls="collapseUtilities">
          <i class="fas fa-fw fa-history"></i>
          <span>OHLCV Daily</span>
        </a>
        <div id="collapseOHLCVDaily" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">SYMBOL:</h6>
            <a class="collapse-item" href="./ohlcv_daily">Stocks</a>
            <a class="collapse-item" href="./ohlcv_daily?symbol=XBTUSD">XBTUSD</a>
            <a class="collapse-item" href="./ohlcv_daily?symbol=ETHUSD">ETHUSD</a>
            <a class="collapse-item" href="./ohlcv_daily?symbol=GBPJPY">GBPJPY</a>
          </div>
        </div>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        Tools
      </div>

      <!-- Nav Item - DB Access -->
      <li class="nav-item {{ db_access }}">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseDbaccess" aria-expanded="true" aria-controls="collapseUtilities">
          <i class="fas fa-fw fa-database"></i>
          <span>DB Access</span>
        </a>
        <div id="collapseDbaccess" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">QUERY:</h6>
            <a class="collapse-item" href="./db_access">None</a>
            <a class="collapse-item" href="./db_access?q=open_signal">Open Signal</a>
            <a class="collapse-item" href="./db_access?q=backtest_result">バックテスト結果</a>
            <a class="collapse-item" href="./db_access?q=profit_rate_per_year">年別利益率</a>
            <a class="collapse-item" href="./db_access?q=profit_rate_per_year_long_short">年別利益率(long/short)</a>
            <a class="collapse-item" href="./db_access?q=profit_rate_per_month">月別利益率</a>
            <a class="collapse-item" href="./db_access?q=profit_rate_per_month_long_short">月別利益率(long/short)</a>
            <a class="collapse-item" href="./db_access?q=strategy_list">ストラテジパラメータ</a>
          </div>
        </div>
      </li>

      <!-- Nav Item - Tradingview -->
      <li class="nav-item {{ tradingview }}">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTradingview" aria-expanded="true" aria-controls="collapseUtilities">
          <i class="fas fa-fw fa-align-left"></i>
          <span>Tradingview</span>
        </a>
        <div id="collapseTradingview" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">SYMBOL:</h6>
            <a class="collapse-item" href="./tradingview1">index</a>
            <a class="collapse-item" href="./tradingview2">currency</a>
          </div>
        </div>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        Settings
      </div>

      <!-- Nav Item - Backtest History Collapse Menu -->
      <li class="nav-item {{ symbols }}">
        <a class="nav-link" href="/symbols">
          <i class="fas fa-fw fa-list"></i>
          <span>Symbols</span>
        </a>
      </li>

      <!-- Nav Item - Backtest History Collapse Menu -->
      <li class="nav-item {{ crontab }}">
        <a class="nav-link" href="/crontab">
          <i class="fas fa-fw fa-calendar"></i>
          <span>crontab</span>
        </a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>

          <!-- Topbar Search 
          <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
            <div class="input-group">
              <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
              <div class="input-group-append">
                <button class="btn btn-primary" type="button">
                  <i class="fas fa-search fa-sm"></i>
                </button>
              </div>
            </div>
          </form>
          -->

          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">

            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">ビットコインちゃん</span>
                <img class="img-profile rounded-circle" src="static/img/bctyan.png">
              </a>
            </li>

          </ul>

        </nav>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">
        {% block content %}
        {% endblock %}
        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; Your Website 2019</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="login.html">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="static/vendor/jquery/jquery.min.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="static/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="static/js/sb-admin-2.min.js"></script>

  {% block page_level_plugins %}
  <!-- Page level plugins -->
  <script src="static/vendor/chart.js/Chart.min.js"></script>
  {% endblock %}

  {% block page_level_custom_scripts %}
  <!-- Page level custom scripts -->
  <script src="static/js/demo/chart-area-demo.js"></script>
  <script src="static/js/demo/chart-pie-demo.js"></script>
  {% endblock %}

</body>

</html>
