{% extends "layout.html" %}

{% block title %}{{ header_title }} - {% endblock %}

{% block cumstom_styles_for_this_page %}
  <!-- Custom styles for this page -->
  <link href="static/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
{% endblock %}

{% block cumstom_header_js_for_this_page %}
{% if rv %}
<script>
    window.onload = function () {
    
    var chart = new CanvasJS.Chart("chartContainer", {
      animationEnabled: true,
      theme: "light2", // "light1", "light2", "dark1", "dark2"
      exportEnabled: true,
      subtitles: [{
        text: "{{ symbol }}"
      }],
      axisX: {
        valueFormatString: "YY-MM-DD"
      },
      axisY: {
        includeZero:false, 
        prefix: "$",
        title: "Price"
      },
      axisY2: {
        prefix: "",
        title: "Volume",
      },
      toolTip: {
        shared: true
      },
      legend: {
        reversed: true,
        cursor: "pointer",
        itemclick: toggleDataSeries
      },     
      data: [
      {
        type: "column",
        showInLegend: true,
        name: "Volume",
        axisYType: "secondary",
        yValueFormatString: "#0.00",
        xValueFormatString: "YY-MM-DD",
        dataPoints: [
        {% for  r in rv %}
          { x: new Date({{ r[1][0:4] }}, {{ r[1][5:7] }}-1, {{ r[1][8:10] }}), y: {{ r[6] }} },
        {% endfor %}
        ]
      },
      {
        type: "candlestick",
        showInLegend: true,
        name: "Stock Price",
        yValueFormatString: "$#,##0.00",
        xValueFormatString: "YY-MM-DD",
        dataPoints: [   // Y: [Open, High ,Low, Close]
        {% for  r in rv %}
          { x: new Date({{ r[1][0:4] }}, {{ r[1][5:7] }}-1, {{ r[1][8:10] }}), y: [{{ r[2] }}, {{ r[3] }}, {{ r[4] }}, {{ r[5] }}] },
        {% endfor %}
        ]
      },
      ]
    });
    chart.render();
    
    function toggleDataSeries(e) {
      if (typeof (e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
        e.dataSeries.visible = false;
      } else {
        e.dataSeries.visible = true;
      }
      e.chart.render();
    }
    
    }
    </script>
{% endif %}
{% endblock %}

        {% block content %}
          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800">{{ content_title }}</h1>
          <p class="mb-4">各銘柄の１日足を参照できます。データの取得元は 株価：Yahoo! Finance、暗号通貨:BitMEX、法定通貨:みん株 です。</p>

          <!-- Content Row -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">開始日が空欄の場合は、３か月前からのデータを検索します。</h6>
            </div>
            <div class="card-body">
              <form method="POST" action="/ohlcv_daily">
                <div class="form-group">
                  <label class="control-label">シンボル</label>
                  <input class="form-control" type="text" id="symbol" name="symbol" value="{{ symbol }}">
                </div>
                <div class="form-group">
                  <label class="control-label">検索開始日</label>
                  <input class="form-control" type="text" id="start_date" name="start_date" value="{{ start_date }}">
                </div>
                <div class="form-group">
                  <label class="control-label">検索終了日</label>
                  <input class="form-control" type="text" id="end_date" name="end_date" value="{{ end_date }}">
                </div>
                <button class="btn btn-primary btn-icon-split" type="submit">
                  <span class="icon text-white-50">
                    <i class="fas fa-search"></i>
                  </span>
                  <span class="text">検索</span>
                </button>
              </form>
            </div>
          </div>

          {% if rv %}
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">{{ symbol }} : {{ start_date }} から {{ end_date }}</h6>
            </div>
            <div class="card-body">
              <div id="chartContainer" style="height: 370px; width: 100%; margin: 0px auto;"></div>
            </div>
          </div>
          {% endif %}

          <!-- DataTales -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              {% if rv %}
              <h6 class="m-0 font-weight-bold text-primary">{{ symbol }} : {{ start_date }} から {{ end_date }}</h6>
              {% endif %}
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>business_date</th>
                      <th>open</th>
                      <th>high</th>
                      <th>low</th>
                      <th>close</th>
                      <th>volume</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>business_date</th>
                      <th>open</th>
                      <th>high</th>
                      <th>low</th>
                      <th>close</th>
                      <th>volume</th>
                    </tr>
                  </tfoot>
                  <tbody>
                  {% for r in rv %}
                    <tr>
                      <td>{{ r[1] }}</td>
                      <td>{{ r[2] }}</td>
                      <td>{{ r[3] }}</td>
                      <td>{{ r[4] }}</td>
                      <td>{{ r[5] }}</td>
                      <td>{{ r[6] }}</td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">DEBUG</h6>
            </div>
            <div class="card-body">
              <p>{{ query }} </p>
            </div>
          </div>

        {% endblock %}

  {% block page_level_plugins %}
  <!-- Page level plugins -->
  <script src="static/vendor/datatables/jquery.dataTables.min.js"></script>
  <script src="static/vendor/datatables/dataTables.bootstrap4.min.js"></script>
  <script src="static/vendor/canvasjs/canvasjs.min.js"></script>
  {% endblock %}
  {% block page_level_custom_scripts %}
  <!-- Page level custom scripts -->
  <script src="static/js/pages/datatables-common.js"></script>
  {% endblock %}
