{% extends "layout.html" %}

        {% block content %}
          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800">{{ content_title }}</h1>
          <p class="mb-4">各銘柄の１日足を参照できます。データの取得元は 株価：Yahoo! Finance、暗号通貨:BitMEX、法定通貨:みん株 です。</p>

          <!-- Content Row -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">開始日が空欄の場合は、３か月前からのデータを検索します。</h6>
            </div>
            <div class="card-body">
              <form method="POST" action="/ohlcv_daily">
                <div class="form-group">
                  <label class="control-label">シンボル</label>
                  <input class="form-control" type="text" id="symbol" name="symbol" value="{{ symbol }}">
                </div>
                <div class="form-group">
                  <label class="control-label">検索開始日</label>
                  <input class="form-control" type="text" id="start_date" name="start_date" value="{{ start_date }}">
                </div>
                <div class="form-group">
                  <label class="control-label">検索終了日</label>
                  <input class="form-control" type="text" id="end_date" name="end_date" value="{{ end_date }}">
                </div>
                <button class="btn btn-primary btn-icon-split" type="submit">
                  <span class="icon text-white-50">
                    <i class="fas fa-search"></i>
                  </span>
                  <span class="text">検索</span>
                </button>
              </form>
            </div>
          </div>

          <!-- DataTales -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              {% if rv %}
              <h6 class="m-0 font-weight-bold text-primary">{{ symbol }} : {{ start_date }} から {{ end_date }}</h6>
              {% endif %}
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>business_date</th>
                      <th>open</th>
                      <th>high</th>
                      <th>low</th>
                      <th>close</th>
                      <th>volume</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>business_date</th>
                      <th>open </th>
                      <th>high </th>
                      <th>low </th>
                      <th>close</th>
                      <th>volume</th>
                    </tr>
                  </tfoot>
                  <tbody>
                  {% for r in rv %}
                    <tr>
                      <th>{{ r[1] }}</th>
                      <th>{{ r[2] }}</th>
                      <th>{{ r[3] }}</th>
                      <th>{{ r[4] }}</th>
                      <th>{{ r[5] }}</th>
                      <th>{{ r[6] }}</th>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        {% endblock %}
