{% extends "layout.html" %}

{% block title %}{{ header_title }} - {% endblock %}

{% block cumstom_styles_for_this_page %}
  <!-- Custom styles for this page -->
  <link href="static/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
{% endblock %}

        {% block content %}
          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800">{{ content_title }}</h1>

          <!-- Symbol1 -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">ファイル:{{ symbol1 }}, バックテスト開始日:{{ start_date }}, バックテスト終了日:{{ end_date }}</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable1" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>バックテスト最終営業日</th>
                      <th>シンボル</th>
                      <th>ストラテジ</th>
                      <th>パラメータ</th>
                      <th>注文方法</th>
                      <th>注文価格</th>
                      <th>直近3か月利益率</th>
                      <th>直近3か月利益率long</th>
                      <th>直近3か月利益率short</th>
                      <th>直近1年利益率</th>
                      <th>直近1年利益率long</th>
                      <th>直近1年利益率short</th>
                      <th>直近3年利益率</th>
                      <th>直近3年利益率long</th>
                      <th>直近3年利益率short</th>
                      <th>直近15年利益率</th>
                      <th>直近15年利益率long</th>
                      <th>直近15年利益率short</th>
                      <th>期待利益率(3か月)</th>
                      <th>期待利益率long(3か月)</th>
                      <th>期待利益率short(3か月)</th>
                      <th>期待利益率(1年)</th>
                      <th>期待利益率long(1年)</th>
                      <th>期待利益率short(1年)</th>
                      <th>期待利益率(3年)</th>
                      <th>期待利益率long(3年)</th>
                      <th>期待利益率short(3年)</th>
                      <th>期待利益率(15年)</th>
                      <th>期待利益率long(15年)</th>
                      <th>期待利益率short(15年)</th>
                      <th>期待利益率(全期間)</th>
                      <th>期待利益率long(全期間)</th>
                      <th>期待利益率short(全期間)</th>
                      <th>勝率</th>
                      <th>平均取引日数</th>
                      <th>取引数</th>
                      <th>取引数long</th>
                      <th>取引数short</th>
                      <th>ペイオフレシオ</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for r in open_signals1 %}
                    <tr>
                      <td>{{ r[5] }}</td>
                      <td>
                        {{ r[0] }}
                        {% if '.T' in r[0] %}<br />
                        <a href="https://stocks.finance.yahoo.co.jp/stocks/detail/?code={{ r[0] }}" target="_blank"><i class="fas fa-fw fa-info"></i></a>
                        {% elif ('XBTUSD' in r[0] or 'ETHUSD' in r[0]) %}
                        <a href="https://www.bitmex.com/app/trade/{{ r[0] }}" target="_blank"><i class="fas fa-fw fa-info"></i></a>
                        {% elif 'GBPJPY' in r[0] %}
                        <a href="https://fx.minkabu.jp/pair/GBPJPY/{{ r[0] }}" target="_blank"><i class="fas fa-fw fa-info"></i></a>
                        {% endif %}
                        <a href="/backtest_history?symbol={{ r[0] }}" target="_blank"><i class="fas fa-fw fa-history"></i></a>
                        <a href="/ohlcv_daily?symbol={{ r[0] }}" target="_blank"><i class="fas fa-fw fa-play-circle"></i></a>
                      </td>
                      <td>{{ r[1] }}</td>
                      <td>{{ r[2] }}</td>
                      <td>{{ r[3] }}</td>
                      <td>{{ r[4] }}</td>
                      <td>{{ r[6] }}</td>
                      <td>{{ r[7] }}</td>
                      <td>{{ r[8] }}</td>
                      <td>{{ r[9] }}</td>
                      <td>{{ r[10] }}</td>
                      <td>{{ r[11] }}</td>
                      <td>{{ r[12] }}</td>
                      <td>{{ r[13] }}</td>
                      <td>{{ r[14] }}</td>
                      <td>{{ r[15] }}</td>
                      <td>{{ r[16] }}</td>
                      <td>{{ r[17] }}</td>
                      <td>{{ r[18] }}</td>
                      <td>{{ r[19] }}</td>
                      <td>{{ r[20] }}</td>
                      <td>{{ r[21] }}</td>
                      <td>{{ r[22] }}</td>
                      <td>{{ r[23] }}</td>
                      <td>{{ r[24] }}</td>
                      <td>{{ r[25] }}</td>
                      <td>{{ r[26] }}</td>
                      <td>{{ r[27] }}</td>
                      <td>{{ r[28] }}</td>
                      <td>{{ r[29] }}</td>
                      <td>{{ r[30] }}</td>
                      <td>{{ r[31] }}</td>
                      <td>{{ r[32] }}</td>
                      <td>{{ r[33] }}</td>
                      <td>{{ r[34] }}</td>
                      <td>{{ r[35] }}</td>
                      <td>{{ r[36] }}</td>
                      <td>{{ r[37] }}</td>
                      <td>{{ r[38] }}</td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <!-- Symbol2 -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">ファイル:{{ symbol2 }}, バックテスト開始日:{{ start_date }}, バックテスト終了日:{{ end_date }}</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable2" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>バックテスト最終営業日</th>
                      <th>シンボル</th>
                      <th>ストラテジ</th>
                      <th>パラメータ</th>
                      <th>注文方法</th>
                      <th>注文価格</th>
                      <th>直近3か月利益率</th>
                      <th>直近3か月利益率long</th>
                      <th>直近3か月利益率short</th>
                      <th>直近1年利益率</th>
                      <th>直近1年利益率long</th>
                      <th>直近1年利益率short</th>
                      <th>直近3年利益率</th>
                      <th>直近3年利益率long</th>
                      <th>直近3年利益率short</th>
                      <th>直近15年利益率</th>
                      <th>直近15年利益率long</th>
                      <th>直近15年利益率short</th>
                      <th>期待利益率(3か月)</th>
                      <th>期待利益率long(3か月)</th>
                      <th>期待利益率short(3か月)</th>
                      <th>期待利益率(1年)</th>
                      <th>期待利益率long(1年)</th>
                      <th>期待利益率short(1年)</th>
                      <th>期待利益率(3年)</th>
                      <th>期待利益率long(3年)</th>
                      <th>期待利益率short(3年)</th>
                      <th>期待利益率(15年)</th>
                      <th>期待利益率long(15年)</th>
                      <th>期待利益率short(15年)</th>
                      <th>期待利益率(全期間)</th>
                      <th>期待利益率long(全期間)</th>
                      <th>期待利益率short(全期間)</th>
                      <th>勝率</th>
                      <th>平均取引日数</th>
                      <th>取引数</th>
                      <th>取引数long</th>
                      <th>取引数short</th>
                      <th>ペイオフレシオ</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for r in open_signals2 %}
                    <tr>
                      <td>{{ r[5] }}</td>
                      <td>
                        {{ r[0] }}
                        {% if '.T' in r[0] %}<br />
                        <a href="https://stocks.finance.yahoo.co.jp/stocks/detail/?code={{ r[0] }}" target="_blank"><i class="fas fa-fw fa-info"></i></a>
                        {% elif ('XBTUSD' in r[0] or 'ETHUSD' in r[0]) %}
                        <a href="https://www.bitmex.com/app/trade/{{ r[0] }}" target="_blank"><i class="fas fa-fw fa-info"></i></a>
                        {% elif 'GBPJPY' in r[0] %}
                        <a href="https://fx.minkabu.jp/pair/GBPJPY/{{ r[0] }}" target="_blank"><i class="fas fa-fw fa-info"></i></a>
                        {% endif %}
                        <a href="/backtest_history?symbol={{ r[0] }}" target="_blank"><i class="fas fa-fw fa-history"></i></a>
                        <a href="/ohlcv_daily?symbol={{ r[0] }}" target="_blank"><i class="fas fa-fw fa-play-circle"></i></a>
                      </td>
                      <td>{{ r[1] }}</td>
                      <td>{{ r[2] }}</td>
                      <td>{{ r[3] }}</td>
                      <td>{{ r[4] }}</td>
                      <td>{{ r[6] }}</td>
                      <td>{{ r[7] }}</td>
                      <td>{{ r[8] }}</td>
                      <td>{{ r[9] }}</td>
                      <td>{{ r[10] }}</td>
                      <td>{{ r[11] }}</td>
                      <td>{{ r[12] }}</td>
                      <td>{{ r[13] }}</td>
                      <td>{{ r[14] }}</td>
                      <td>{{ r[15] }}</td>
                      <td>{{ r[16] }}</td>
                      <td>{{ r[17] }}</td>
                      <td>{{ r[18] }}</td>
                      <td>{{ r[19] }}</td>
                      <td>{{ r[20] }}</td>
                      <td>{{ r[21] }}</td>
                      <td>{{ r[22] }}</td>
                      <td>{{ r[23] }}</td>
                      <td>{{ r[24] }}</td>
                      <td>{{ r[25] }}</td>
                      <td>{{ r[26] }}</td>
                      <td>{{ r[27] }}</td>
                      <td>{{ r[28] }}</td>
                      <td>{{ r[29] }}</td>
                      <td>{{ r[30] }}</td>
                      <td>{{ r[31] }}</td>
                      <td>{{ r[32] }}</td>
                      <td>{{ r[33] }}</td>
                      <td>{{ r[34] }}</td>
                      <td>{{ r[35] }}</td>
                      <td>{{ r[36] }}</td>
                      <td>{{ r[37] }}</td>
                      <td>{{ r[38] }}</td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <!-- Symbol3 -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">ファイル:{{ symbol3 }}, バックテスト開始日:{{ start_date }}, バックテスト終了日:{{ end_date }}</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable3" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>バックテスト最終営業日</th>
                      <th>シンボル</th>
                      <th>ストラテジ</th>
                      <th>パラメータ</th>
                      <th>注文方法</th>
                      <th>注文価格</th>
                      <th>直近3か月利益率</th>
                      <th>直近3か月利益率long</th>
                      <th>直近3か月利益率short</th>
                      <th>直近1年利益率</th>
                      <th>直近1年利益率long</th>
                      <th>直近1年利益率short</th>
                      <th>直近3年利益率</th>
                      <th>直近3年利益率long</th>
                      <th>直近3年利益率short</th>
                      <th>直近15年利益率</th>
                      <th>直近15年利益率long</th>
                      <th>直近15年利益率short</th>
                      <th>期待利益率(3か月)</th>
                      <th>期待利益率long(3か月)</th>
                      <th>期待利益率short(3か月)</th>
                      <th>期待利益率(1年)</th>
                      <th>期待利益率long(1年)</th>
                      <th>期待利益率short(1年)</th>
                      <th>期待利益率(3年)</th>
                      <th>期待利益率long(3年)</th>
                      <th>期待利益率short(3年)</th>
                      <th>期待利益率(15年)</th>
                      <th>期待利益率long(15年)</th>
                      <th>期待利益率short(15年)</th>
                      <th>期待利益率(全期間)</th>
                      <th>期待利益率long(全期間)</th>
                      <th>期待利益率short(全期間)</th>
                      <th>勝率</th>
                      <th>平均取引日数</th>
                      <th>取引数</th>
                      <th>取引数long</th>
                      <th>取引数short</th>
                      <th>ペイオフレシオ</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for r in open_signals3 %}
                    <tr>
                      <td>{{ r[5] }}</td>
                      <td>
                        {{ r[0] }}
                        {% if '.T' in r[0] %}<br />
                        <a href="https://stocks.finance.yahoo.co.jp/stocks/detail/?code={{ r[0] }}" target="_blank"><i class="fas fa-fw fa-info"></i></a>
                        {% elif ('XBTUSD' in r[0] or 'ETHUSD' in r[0]) %}
                        <a href="https://www.bitmex.com/app/trade/{{ r[0] }}" target="_blank"><i class="fas fa-fw fa-info"></i></a>
                        {% elif 'GBPJPY' in r[0] %}
                        <a href="https://fx.minkabu.jp/pair/GBPJPY/{{ r[0] }}" target="_blank"><i class="fas fa-fw fa-info"></i></a>
                        {% endif %}
                        <a href="/backtest_history?symbol={{ r[0] }}" target="_blank"><i class="fas fa-fw fa-history"></i></a>
                        <a href="/ohlcv_daily?symbol={{ r[0] }}" target="_blank"><i class="fas fa-fw fa-play-circle"></i></a>
                      </td>
                      <td>{{ r[1] }}</td>
                      <td>{{ r[2] }}</td>
                      <td>{{ r[3] }}</td>
                      <td>{{ r[4] }}</td>
                      <td>{{ r[6] }}</td>
                      <td>{{ r[7] }}</td>
                      <td>{{ r[8] }}</td>
                      <td>{{ r[9] }}</td>
                      <td>{{ r[10] }}</td>
                      <td>{{ r[11] }}</td>
                      <td>{{ r[12] }}</td>
                      <td>{{ r[13] }}</td>
                      <td>{{ r[14] }}</td>
                      <td>{{ r[15] }}</td>
                      <td>{{ r[16] }}</td>
                      <td>{{ r[17] }}</td>
                      <td>{{ r[18] }}</td>
                      <td>{{ r[19] }}</td>
                      <td>{{ r[20] }}</td>
                      <td>{{ r[21] }}</td>
                      <td>{{ r[22] }}</td>
                      <td>{{ r[23] }}</td>
                      <td>{{ r[24] }}</td>
                      <td>{{ r[25] }}</td>
                      <td>{{ r[26] }}</td>
                      <td>{{ r[27] }}</td>
                      <td>{{ r[28] }}</td>
                      <td>{{ r[29] }}</td>
                      <td>{{ r[30] }}</td>
                      <td>{{ r[31] }}</td>
                      <td>{{ r[32] }}</td>
                      <td>{{ r[33] }}</td>
                      <td>{{ r[34] }}</td>
                      <td>{{ r[35] }}</td>
                      <td>{{ r[36] }}</td>
                      <td>{{ r[37] }}</td>
                      <td>{{ r[38] }}</td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <!-- Symbol4 -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">ファイル:{{ symbol4 }}, バックテスト開始日:{{ start_date }}, バックテスト終了日:{{ end_date }}</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table able-bordered" id="dataTable4" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>バックテスト最終営業日</th>
                      <th>シンボル</th>
                      <th>ストラテジ</th>
                      <th>パラメータ</th>
                      <th>注文方法</th>
                      <th>注文価格</th>
                      <th>直近3か月利益率</th>
                      <th>直近3か月利益率long</th>
                      <th>直近3か月利益率short</th>
                      <th>直近1年利益率</th>
                      <th>直近1年利益率long</th>
                      <th>直近1年利益率short</th>
                      <th>直近3年利益率</th>
                      <th>直近3年利益率long</th>
                      <th>直近3年待利益率short</th>
                      <th>直近15年利益率</th>
                      <th>直近15年利益率long</th>
                      <th>直近15年利益率short</th>
                      <th>期待利益率(3か月)</th>
                      <th>期待利益率long(3か月)</th>
                      <th>期待利益率short(3か月)</th>
                      <th>期待利益率(1年)</th>
                      <th>期待利益率long(1年)</th>
                      <th>期待利益率short(1年)</th>
                      <th>期待利益率(3年)</th>
                      <th>期待利益率long(3年)</th>
                      <th>期待利益率short(3年)</th>
                      <th>期待利益率(15年)</th>
                      <th>期待利益率long(15年)</th>
                      <th>期待利益率short(15年)</th>
                      <th>期待利益率(全期間)</th>
                      <th>期待利益率long(全期間)</th>
                      <th>期待利益率short(全期間)</th>
                      <th>勝率</th>
                      <th>平均取引日数</th>
                      <th>取引数</th>
                      <th>取引数long</th>
                      <th>取引数short</th>
                      <th>ペイオフレシオ</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for r in open_signals4 %}
                    <tr>
                      <td>{{ r[5] }}</td>
                      <td>
                        {{ r[0] }}
                        {% if '.T' in r[0] %}<br />
                        <a href="https://stocks.finance.yahoo.co.jp/stocks/detail/?code={{ r[0] }}" target="_blank"><i class="fas fa-fw fa-info"></i></a>
                        {% elif ('XBTUSD' in r[0] or 'ETHUSD' in r[0]) %}
                        <a href="https://www.bitmex.com/app/trade/{{ r[0] }}" target="_blank"><i class="fas fa-fw fa-info"></i></a>
                        {% elif 'GBPJPY' in r[0] %}
                        <a href="https://fx.minkabu.jp/pair/GBPJPY/{{ r[0] }}" target="_blank"><i class="fas fa-fw fa-info"></i></a>
                        {% endif %}
                        <a href="/backtest_history?symbol={{ r[0] }}" target="_blank"><i class="fas fa-fw fa-history"></i></a>
                        <a href="/ohlcv_daily?symbol={{ r[0] }}" target="_blank"><i class="fas fa-fw fa-play-circle"></i></a>
                      </td>
                      <td>{{ r[1] }}</td>
                      <td>{{ r[2] }}</td>
                      <td>{{ r[3] }}</td>
                      <td>{{ r[4] }}</td>
                      <td>{{ r[6] }}</td>
                      <td>{{ r[7] }}</td>
                      <td>{{ r[8] }}</td>
                      <td>{{ r[9] }}</td>
                      <td>{{ r[10] }}</td>
                      <td>{{ r[11] }}</td>
                      <td>{{ r[12] }}</td>
                      <td>{{ r[13] }}</td>
                      <td>{{ r[14] }}</td>
                      <td>{{ r[15] }}</td>
                      <td>{{ r[16] }}</td>
                      <td>{{ r[17] }}</td>
                      <td>{{ r[18] }}</td>
                      <td>{{ r[19] }}</td>
                      <td>{{ r[20] }}</td>
                      <td>{{ r[21] }}</td>
                      <td>{{ r[22] }}</td>
                      <td>{{ r[23] }}</td>
                      <td>{{ r[24] }}</td>
                      <td>{{ r[25] }}</td>
                      <td>{{ r[26] }}</td>
                      <td>{{ r[27] }}</td>
                      <td>{{ r[28] }}</td>
                      <td>{{ r[29] }}</td>
                      <td>{{ r[30] }}</td>
                      <td>{{ r[31] }}</td>
                      <td>{{ r[32] }}</td>
                      <td>{{ r[33] }}</td>
                      <td>{{ r[34] }}</td>
                      <td>{{ r[35] }}</td>
                      <td>{{ r[36] }}</td>
                      <td>{{ r[37] }}</td>
                      <td>{{ r[38] }}</td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">DEBUG</h6>
            </div>
            <div class="card-body">
              <div class="mb-4">
                <p>{{ query1 }} </p>
              </div>
              <div class="mb-4">
                <p>{{ query2 }} </p>
              </div>
              <div class="mb-4">
                <p>{{ query3 }} </p>
              </div>
              <div class="mb-4">
                <p>{{ query4 }} </p>
              </div>
            </div>
          </div>

        {% endblock %}

  {% block page_level_plugins %}
  <!-- Page level plugins -->
  <script src="static/vendor/datatables/jquery.dataTables.min.js"></script>
  <script src="static/vendor/datatables/dataTables.bootstrap4.min.js"></script>
  {% endblock %}
  {% block page_level_custom_scripts %}
  <!-- Page level custom scripts -->
  <script src="static/js/pages/datatables-open-signal.js"></script>
  {% endblock %}
